.App-header {
  background-color: #1A2D3E;
  min-height: 100vh;

}

.navegacion {
  border-radius: 0 0 20px 20px;
}

/* nav {
  height: 70px;
  font-size: calc(17px);
} */

.icoNav {
  font-size: 24px;
}

/* .navContainer{
  max-width: 1500px;
} */
